* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, black,gray,white,black) no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-image:url(./1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(36, 36, 35, 0.75);
}

.btn {
    color: white;
    background: rgb(37, 206, 73);
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 15px;
    font-weight: bold;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    appearance: none;
    color: red;
    font-weight: bold;
    border: 1px solid white;
    font-size: 16px;
    background: transparent;
}

.currency input {
    border: 0;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.convert-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    background: red;
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 18px;
    padding: auto;
    letter-spacing: 1px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}